
body{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Poppins, serif;
    outline: 0;
}
input{
    border: none;
    background-color: transparent;
}
a {
    text-decoration: none;
    color: #000;
}
p {
    margin: 0;
}
button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}