@use"/src/styles/variables" as v;
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    .menu__input{
        display: flex;
        justify-content: space-between;
        width: 630px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        background-color: #F6F5F2;
        padding: 10px 24px 10px 16px ;
        & input {
            
            color: v.$gray-1;
        }
    }
    .menu__icons{
        display: flex;
        gap: 32px;
    }
}